<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tywh.kdterp.inventory.mapper.BookMapper">

    <select id="querySalesDetailList" parameterType="queryCondition" resultType="salesDetail">
        select fhdbh,fhzt,khmc,xsbmmc,djlx,txrq,sxh,shum,bmmc,tsfljc,zbh,dj,kwbh,cs,my,zk,sy,xsflmc,flmc,dqjc from (
		select fhdbh,fhzt,khmc,xsbmmc,djlx,CONVERT(varchar(100), txrq, 23) txrq,
		sxh,shum,bmmc,tsfljc,zbh,dj,kwbh,cs,my,zk,sy,xsflmc,flmc,dqjc from xsmxview union
		select fhdbh,fhzt,khmc,xsbmmc,djlx,CONVERT(varchar(100), txrq, 23) txrq,
		sxh,shum,bmmc,tsfljc,zbh,dj,kwbh,cs,my,zk,sy,xsflmc,flmc,dqjc from xsmxnview) xsmxjl
		<where>
			and txrq >= #{scopeDate} and tsfljc not like #{tsfljcRemove}
			and txrq >= #{startDate} and txrq &lt;= #{endDate}
			<if test="khmc != null and khmc != ''">
				and khmc = #{khmc}
			</if>
			<if test="xsbmmc != null and xsbmmc != ''">
				and xsbmmc = #{xsbmmc}
			</if>
			<if test="djlx != null and djlx != ''">
				and djlx = #{djlx}
			</if>
			<if test="sxh != null and sxh != ''">
				and sxh = #{sxh}
			</if>
			<if test="shum != null and shum != ''">
				and shum = #{shum}
			</if>
			<if test="bmmc != null and bmmc != ''">
				and bmmc = #{bmmc}
			</if>
			<if test="tsfljc != null and tsfljc != ''">
				and tsfljc = #{tsfljc}
			</if>
			<if test="zbh != null and zbh != ''">
				and zbh = #{zbh}
			</if>
			<if test="flmc != null and flmc != ''">
				and flmc = #{flmc}
			</if>
			<if test="dqjc != null and dqjc != ''">
				and dqjc = #{dqjc}
			</if>
		</where>
    </select>

</mapper>